{% extends 'base.html' %}

{% block content %}

<div class=" col-lg-2 m-auto pt-5">
    <form action="{{url}}" method="post">
        {% csrf_token %}
        <input type="submit" value="claim the post" class="btn btn-primary" onclick="return YesOrNo(event)">
        <script>
function YesOrNo(event) {
        val = confirm("do you want to claim the post as yours ?");
        if (val === false) {
            event.preventDefault();
             }
         }
        </script>
    </form>
</div>
<div class="container">
    <form method="post" novalidate>

        {% csrf_token %}
        <div class="was-validated"><label>TITLE</label>
            {{ form.post_tittle }}

        </div>
        <div class="was-validated">
            <label>CONTENT</label>
            {{ form.post_content}}
        </div>


        <input type="submit" value="submit" class="btn btn-primary mt-5">
    </form>

</div>
{% endblock %}