{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="was-validated"><label>TITLE</label>
            {{ form.post_tittle }}
            <small id="max-title" class="text-danger">
                Must more than 10 char
            </small>
        </div>
        <div class="was-validated">
            <label>CONTENT</label>
            {{ form.post_content}}
        </div>
        <small id="max-title" class="text-danger">
            Must more than 10 char
        </small>
        <div class="center container">
            <button type="submit" class="btn btn-primary mt-5">Submit</button>

        </div>
    </form>
</div>
{% endblock %}