{% extends 'base.html' %}

{% block content %}
<div class="mx-auto" style="width: 200px;">
    {% if messages %}
    <ul class="messages list-group list-group-flush">
        {% for message in messages %}

        {% if message.tags %} {{ message }} {% else %} {% endif %}
        <span class="badge badge-primary badge-pill">edit link</span>
        {% endfor %}
    </ul>
    {% endif %}
    <p>
    <h1>
        {{post.post_tittle}}
    </h1>
    <h5>
        {{post.post_content|safe|linebreaksbr}}
    </h5>

    </p>
</div>
{% endblock %}