{% extends 'base.html' %}

{% block content %}
<div class="col-lg-5 mx-auto mt-3">
    {% if messages %}
    <ul class="messages list-group list-group-flush">
        {% for message in messages %}

        {% if message.tags %} {{ message }} {% else %} {% endif %}
        <span class="badge badge-primary badge-pill">edit link</span>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>{{post.post_tittle}}</h1>

    <br/>


    {{table_of_contents|safe|linebreaksbr}}
    {{post.post_content|safe|linebreaksbr}}


</div>
{% endblock %}