{% extends "base.html" %}

{% block content %}
<div class="container">
    <form method="post" class="col-lg-3 m-auto pt-5">
        {% csrf_token %}
        username<br/>
        {{form.username}}<br/>
        <small id="max-title" class="text-danger">
                {{ form.username.errors }}
            </small>
        password<br/>
        {{form.password1}}<br/>
        <small id="max-title" class="text-danger">
                {{ form.password1.errors }}
            </small>
        confirm password<br/>
        {{form.password2}}<br/>
        <small id="max-title" class="text-danger">
                {{ form.password2.errors }}
            </small>
        <button type="submit" class="btn btn-primary mt-2 float-right">register</button>
    </form>

</div>
{% endblock %}

