<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
</head>
<body>
<nav class="navbar sticky-top border-bottom py-0 navbar-light bg-primary">
    <a class="navbar-brand ml-4 text-info text-light" href="/">Anonymous-Blogging</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="float-right">
        <a class="nav-link text-light float-right" href="/">Home</a>
        <a class="nav-link text-light float-right" href="posts/">Posts</a>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>