<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
</head>
<body>
<nav class="navbar sticky-top border-bottom py-0 navbar-light bg-primary">
    <a class="navbar-brand ml-4 text-light" href="{% url 'homepage:create' %}">Anonymous-Blogging</a>

    <div class="float-right">
        {% if user.is_authenticated %}
        <a class="nav-link text-light float-right" href="{% url 'homepage:logout' %}">Logout</a>
        <a class="nav-link text-light float-right" href="#">{{ user }}</a>
        <a class="nav-link text-light float-right" href="{% url 'homepage:create' %}">Home</a>
        <a class="nav-link text-light float-right" href="/posts/">Posts</a>
        <a class="nav-link text-light float-right" href="{% url 'homepage:mine' %}">Mine</a>
        {% else %}
        <a class="nav-link text-light float-right" href="{% url 'homepage:login' %}">Login</a>
        <a class="nav-link text-light float-right" href="{% url 'homepage:register' %}">SignUp</a>
        <a class="nav-link text-light float-right" href="{% url 'homepage:create' %}">Home</a>
        <a class="nav-link text-light float-right" href="/posts/">Posts</a>
        {% endif %}

    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>